@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is AppConfigUrl from Config Map : @ViewBag.AppConfigUrl</h1>
    <h1 class="display-4">Here is AppConfigEnvironment from Config Map :  @ViewBag.AppConfigEnvironment</h1>
    <h1 class="display-4">Here is secert Key @ViewBag.Key</h1>
    <h1 class="display-4">Here is secert Value  @ViewBag.Password</h1>
</div>
